<!doctype html>
<html>
<head>
<meta charset = "utf-8">
<!--<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style_jhv.css')}}'>  -->
<title>Intelligent International Portfolio Manager</title>
<style>
    body {
        
        margin: 0 15%;
        font-family: sans-serif;
    }
    h1 {
        text-align: center;
        font-family: serif;
        font-weight: normal;

        border-bottom: 1px solid #57b1dc;
        margin-top: 3px;
    }
    h2 {
        color: #57b1dc;
        font-size: 1em;
    }

</style>
</head>
<body>
    <header>
        <h1>Intelligent International Portfolio Manager</h1>
        <nav>
            <ul>
                <li><a href="/aboutpage">About</a></li>
                <!-- <li><a href="">Import data from the web</a></li> -->
                <!-- <li><a href="/getdatalocal">Import data locally</a></li> -->
                <!-- <li><a href="">Import portfolios locally</a></li> -->
                <li><a href="/portfolioinvestdistribution">Portfolio investment distribution</a></li>
                <li><a href="/plottrends">Plot trends</a></li>
                <!-- <li><a href="">Portfolio risk-return</a></li> -->
                <li><a href="/plotcovmatrix">Covariance matrix</a></li>
                <!-- <li><a href="/trainnngrowth">Train neural network model for asset growth prediction</a></li> -->
                <!-- <li><a href="/oneassetdetail">Analyze the details of a specific asset</a></li> -->
                <!-- <li><a href="">Investigate hyperspace</a></li> -->
                <!-- <li><a href="">Optimize portfolio</a></li> -->
                <!-- <li><a href="">What your return would be had you chosen IIPM - Calculated</a></li> -->
                <li><a href="/portwouldbeloaded">What your return would be had you chosen IIPM - Loaded</a></li>
                <!-- <li><a href="/viewsubportfolios">View optimized portfolios for different risk appetites</a></li> -->
                <!-- <li><a href="/viewsubportfoliostext">View all portfolios in text</a></li> -->
                <li><a href="/viewportfolioriskreturn">View portfolio risk-return in text</a></li>
                <li><a href="/pitch0">Pitch0</a></li>
                <li><a href="/pitch1">Pitch1</a></li>
                <li><a href="/pitch2">Pitch2</a></li>
                
            </ul>
        </nav>
    </header>
    <!-- <div class=page> -->
    
    <!-- <div class=metanav> -->
        <h2>
             Portfolio management through data science
        </h2>
        <p>We use Airtifical Intelligence to <em>maximize</em> your return, <em>minimize</em> your risk, and invest in 40 countries 
            across the globe for your particular <em>risk</em> profile.</p>
      

        <footer>
            <p><small>Copyright &copy;2017 Intelligent International Portfolio Manager.</small></p>
            <nav>
                <ul>
                    <li><a href="/aboutpage">About</a></li>
                </ul>
            </nav>
        </footer>

  <!-- </div> -->
<!-- </div> -->
</body>
</html>