<!doctype html>
<html>
<head>
<meta charset = "utf-8">
<!--<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style_jhv.css')}}'>  -->
<title>Intelligent International Portfolio Manager</title>
<style>
    body {
        
        margin: 0 15%;
        font-family: sans-serif;
    }
    h1 {
        text-align: center;
        font-family: serif;
        font-weight: normal;

        border-bottom: 1px solid #57b1dc;
        margin-top: 3px;
    }
    h2 {
        color: #57b1dc;
        font-size: 1em;
    }

</style>
</head>
<body>
    <header>
        <h1>Intelligent International Portfolio Manager</h1>
        <nav>
            <ul>
                <li><a href="/aboutpage">About</a></li>
                <!-- <li><a href="">Import data from the web</a></li> -->
                <!-- <li><a href="/getdatalocal">Import data locally</a></li> -->
                <!-- <li><a href="">Import portfolios locally</a></li> -->
                <li><a href="/portfolioinvestdistribution">Portfolio investment distribution</a></li>
                <li><a href="/plottrends">Plot trends</a></li>
                <!-- <li><a href="">Portfolio risk-return</a></li> -->
                <li><a href="/plotcovmatrix">Covariance matrix</a></li>
                <!-- <li><a href="/trainnngrowth">Train neural network model for asset growth prediction</a></li> -->
                <!-- <li><a href="/oneassetdetail">Analyze the details of a specific asset</a></li> -->
                <!-- <li><a href="">Investigate hyperspace</a></li> -->
                <!-- <li><a href="">Optimize portfolio</a></li> -->
                <!-- <li><a href="">What your return would be had you chosen IIPM - Calculated</a></li> -->
                <li><a href="/portwouldbeloaded">What your return would be had you chosen IIPM - Loaded</a></li>
                <!-- <li><a href="/viewsubportfolios">View optimized portfolios for different risk appetites</a></li> -->
                <!-- <li><a href="/viewsubportfoliostext">View all portfolios in text</a></li> -->
                <li><a href="/viewportfolioriskreturn">View portfolio risk-return in text</a></li>
                <li><a href="/pitch0">Pitch0</a></li>
                <li><a href="/pitch1">Pitch1</a></li>
                <li><a href="/pitch2">Pitch2</a></li>
                
            </ul>
        </nav>
    </header>
    <!-- <div class=page> -->
    
    <!-- <div class=metanav> -->
        <h2>
             Portfolio management through data science
        </h2>
        <p>We use Airtifical Intelligence to <em>maximize</em> your return, <em>minimize</em> your risk, and invest in 40 countries 
            across the globe for your particular <em>risk</em> profile.</p>

            <p>For many people, investing outside their home countries, is something they do not know much about, but they would like 
                to be able to put some of their savings in off-shore markets.  Not knowing where to put the funds, and what the 
                options are, are often hurdles to investing abroad. </p>

            <p>Our goal is to open up the opaqueness of foreign investment, and to do so using Artifial Intelligence (AI).  Cutting edge 
                Machine Learning and Data Science techniques can extract value from the large volumes of data from the markets 
                much better than humans can, and in the process AI can maximize return, and minimize risk given the investor's risk 
                appetite.
            </p>
            
            <p>Data from the last couple of decades indicates that most active management portfolio managers do not beat the S&P500 
                index when measured over a 10 year period.  As a minimum, the index has been doing very well, and also offers a natural 
                risk hedge since many securities are invested in.  This argument is extended by our app by investing in off-shore indeces 
                for each country's stock exchange that is included in the hyperspace to be optimized.  

            <p>The hyperspace to be optimized is characterized by this loss function to be minimized: 
                PortfolioRiskReturnBalance = w<sup>T</sup>Ew - qRw.</p>
      

        <footer>
            <p><small>Copyright &copy;2017 Intelligent International Portfolio Manager.</small></p>
            <nav>
                <ul>
                    <li><a href="/aboutpage">About</a></li>
                </ul>
            </nav>
        </footer>

  <!-- </div> -->
<!-- </div> -->
</body>
</html>